html, body {
  height: 100%;
}

body {
  color: $default;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  @extend %dmsans-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
  @extend %rubik-400;
}

.tittle {
  text-align: center;
  @extend %dmsans-700;
  font-size: 36px;
  color: #191919;
  line-height: 52px;
}

.filter-btn {
  width: 390px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;


  &__btn {
    border: none;
    padding: 0;
    background: transparent;
    @extend %dmsans-700;
    color: #8b8b8b;
    line-height: 1.2;
  }

  &__btn:hover {
    color: #1a1a1a;
  }

}

.breadcrumbs {
  display: flex;
  justify-content: center;
  /*
  padding-left: 25px;
  position: relative;
  &::before{
    content: '/';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 0;
  }
  */
  &__list {
    display: flex;
  }



  &__item{
    @extend %rubik-400;
    //color: #222933;
    color:#979ba0;
    padding-right: 22px;
    position: relative;
    &::after{
      content: "/";
      //@extend %bgimg;
      //background-image: url('../images/icons/angle-right.svg');
      //width: 9px;
      //height: 10px;
      position: absolute;
      right: 8px;
      top: 0;
    }
    &:last-child{
      color: $accentM;
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}
.footer .partners--login{
  margin-top: 0;
  //background: #fef7f0;
  padding: 90px 0 ;
}
