@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    margin-left: 30px;
  }

  &__list-link {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    padding: 0 2px 1px;

    &:hover {
      color: $accentM;
      border-bottom: 2px solid $accentM;
      @extend %rubik-500;
      text-shadow: 0 0 0 currentColor, 0 0 0 currentColor;
    }
  }

  &__list-link--active {
    @extend %rubik-500;
    color: $accentM;
    border-bottom: 2px solid $accentM;
  }
}


.user-nav {
  display: flex;
  gap: 30px;

  &__link {
    position: relative;
    width: 50px;
    height: 50px;
    background: #edf1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__link:hover {
    background: #a3bbc8;
  }

  .user-nav__link--active {
    background: #a3bbc8;

  }

  &__group {
    //width:100%;
    display: flex;
    gap: 20px;
    background-color: #ffd9c1;
    border-radius: 40px;
    padding: 0 40px;
    position: relative;
  }

  &__group::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 60%;
    background: #fde7d3;
    transform: translate(-50%, -50%);
  }

  &__group .user-nav__link {
    background: #ffd9c1;
  }

  &__group .user-nav__link:hover {
    background: #a3bbc8;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    top: 8px;
    right: 5px;
    @extend %dmsans-500;
    font-size: 10px;
    color: $accentM;
    line-height: 16px;
    text-align: center;
  }
}

//================================================
.footer {
}

.footer-top {
  padding: 80px 0 52px;
  border-bottom: solid 1px #dae4e9;
  display: flex;
  justify-content: space-between;

  &__contact {
    width: 200px;
    //margin-right: 100px;
  }

  &__services {
    width: 170px;
    //margin-right: 130px;
  }

  &__account {
    width: 100px;
    //margin-right: 200px;
  }

  &__item-form {
    width: 270px;
  }

  &__logo {
    margin-bottom: 30px;
    display: block;
  }

  &__address,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 14px;
  }

  &__tittle {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1;
    color: #1f2044;
    margin-bottom: 53px;
  }

  &__list-item-link {
    display: block;
    margin-bottom: 18px;
  }

  &__item-form {

  }

  &__text {
    margin-bottom: 38px;
  }

  &__form-input {
    background: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 14px 10px;
    font-size: 14px;
    line-height: 1;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    background: #a3bbc8;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 11px 17px;
    margin-left: -5px;
    cursor: pointer;
  }
}

.footer-bottom {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %rubik-400;
  line-height: 1;
  font-size: 14px;

  &__copy {
  }

  &__nav {
    display: flex;
    //vertical-align: middle;
  }

  &__nav-item + .footer-bottom__nav-item {
    border-left: solid 1px #7b7b7b;
  }

  &__nav-link {
    display: block;
    padding: 0 13px;

  }
}

//================================================
.top {
  position: relative;
  z-index: 1;

  &__container {
    padding: 35px 0;
    text-align: center;
  }

  &__tittle {
    @extend %rubik-400;
    color: #222933;
  }
}

//================================================

.top-slider {

  &__container {
    //max-width: 1560px;

    background-color: #fcd7b6;
    padding: 100px 0 40px;

  }

  &__item {
    padding: 180px 0 200px;
    //padding-left: 175px;
    background-image: url('../images/top-slider-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 86%;
  }

  &__content {


  }

  &__item {
    display: flex !important;
    justify-content: center;
    @extend %rubik-500;
  }

  &__title {
    max-width: 470px;
    font-size: 72px;
    color: $accentM;
    line-height: 70px;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 370px;
    margin-bottom: 35px;
    font-size: 18px;
    color: $accent;
    line-height: 30px;
  }

  &__link {
    //@extend %btn;
    display: block;
    width: 200px;
    padding: 22px 27px 21px;
    font-size: 15px;
    color: #fff;
    line-height: 12px;
    background: #a3bbc8;
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
  }

  .slick-dots {
    //margin-top: -70px;
    display: flex;
    justify-content: center;

    li {
      padding: 0 10px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 15px;
        line-height: 0.8;
        color: $accentM;
        background: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        position: relative;
        @extend %rubik-500;
      }

      &.slick-active {
        button {
          background: #ffffff;
        }
      }
    }


  }
}

//================================================
.categories {
  padding: 120px 0 0;
}

.categories {

  &__tittle {
    margin-bottom: 28px;
  }

  .filter-btn {
    margin-bottom: 77px;
  }

  &__items {
    display: grid;
    min-height: 530px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 35px 30px;

  }

  &__item-link {
    cursor: pointer;
  }

  &__item {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    padding: 37px;
    background-color: #f8f8f8;
    height: 100%;
  }

  &__item-subtitle {
    margin-bottom: 5px;
  }

  &__item-title {
    //@extend %roboto-500;
    color: $title;
    font-size: 22px;
    margin-bottom: 16px;

  }


}


//================================================
.products-info {
  &__container {
    background: #fef7f0;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 45px 0;
  position: relative;

  &__item {
    width: 285px;
    //padding: 45px 145px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
  }

  &__item-image {
    width: 30%;
  }

  &__item-title {
    font-size: 18px;
    @extend %dmsans-700;
    color: $title;
    line-height: 40px;
  }

  &__item-text {
  }
}

.info::before {
  content: '';
  width: 1px;
  height: 100%;
  background: #e8e4df;
  position: absolute;
  top: 0;
  left: 33.33%
}

.info:after {
  content: '';
  width: 1px;
  height: 100%;
  background: #e8e4df;
  position: absolute;
  top: 0;
  left: 66.66%
}

.products {
  background: #fafafa;
  padding: 74px 0 0;
  text-align: center;

  &__tittle {
    margin-bottom: 39px;
  }

  &__filter-btn {
    margin-bottom: 79px;
  }

  &-items {
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin: 0 auto 86px;
  }
}

.products-item {
  padding: 35px;
  background: #ffffff;
  max-width: 270px;
  text-align: center;
  padding-bottom: 12px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

  &__img-box {
    position: relative;
    height: 210px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__images {
    object-fit: cover;
    margin: 0 auto;
  }

  &__link-box {
    position: absolute;
    top: 152px;
    left: 0;
    right: 0;
    width: 167px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
    transition: all .3s;
  }

  &__link {
    position: relative;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__link {
    //display: inherit;
    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    background: #a3bac7;

    path {
      fill: #fff
    }
  }

  &:hover {
    .products-item__link-box {
      transform: translateY(0);
    }
  }

  &__title {
    @extend %dmsans-500;
    font-size: 16px;
    color: $accentM;
    line-height: 2.5;
  }

  &__subtitle {
    font-size: 16px;
    @extend %dmsans-700;
    color: rgb(163, 187, 200);
    line-height: 2.5;
  }
}


.products__box {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;

  &-item-inner {
    padding-top: 100px;
    position: relative;
    text-align: left;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0 100px 380px;
    background: #feefe2;
    height: 100%;
  }

  &-item-img {
    height: 80%;
    position: absolute;
    top: 0;
    left: 124px;
  }

  &-item-title {
    @extend %dmsans-700;
    font-size: 26px;
    color: $accentM;
    margin-bottom: 20px;
  }

  &-item-text {
    @extend %rubik-400;
    color: $accentM;
    line-height: 1.875;
    margin-bottom: 30px;
  }

  &-item-link {
    border: 1px solid #b3b7b5;
    font-size: 15px;
    @extend %rubik-500;
    color: $accent;
    line-height: 0.8;
    width: 180px;
    border-radius: 5px;
    position: relative;
    padding: 23px;
  }

  .top-slider__arrow {
    position: absolute;
    top: 50%;
    right: 0;
  }

}

//================================================
.video-fashion {
  //background-color: $bg;
  padding: 80px 0;

  &__inner {
    @extend %bgimg;
    background-image: url('../images/content/video/video-fashion.jpg');
    display: flex;
  }

  &__popup {
    margin-right: 60px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %bgimg;
  }
}


//================================================

.blog {
  padding-top: 40px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    @extend .filter-btn__btn;
    color: #262626;
    position: relative;
    padding-right: 18px;
    line-height: 0;
  }

  &__link::after {
    content: '';
    background-image: url('../images/blog/arrow.svg');
    @extend %bgimg;
    background-size: contain;
    position: absolute;
    width: 7px;
    height: 12px;
    top: -6px;
    right: 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    transition: all .3s;
    border-radius: 5px;
    background: #fff;

    &:hover {
      box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);

    }
  }

  &__item-imgLink {
    display: block;

    img {
      height: 250px;
      object-fit: cover;
    }
  }

  &__item-link {
    display: block;
    max-width: 103px;
    margin: -24px 0px 23px 30px;
    padding: 10px 35px;
    background: #a3bbc8;
    color: #fff;
    border-radius: 20px;
    @extend %rubik-500;
    font-size: 14px;
    z-index: 2;
    position: relative;
    //transition: all 0.3s;

    transform-style: preserve-3d;
    transform-origin: center bottom;
    transition: all 800ms ease;

    &:after {
      top: -93%;
      left: 0px;
      width: 100%;
      color: #fff;
      padding: 5px 35px;
      position: absolute;
      background: #215b7a;
      border-radius: 20px;
      content: 'SHOW';
      transform-origin: left bottom;
      transform: rotateX(90deg);
      line-height: 2.4;
      height: 40px;
    }

    &:hover {
      transform: rotateX(-90deg) translateY(100%);
    }
  }

  &__item-title {
    max-width: 313px;
    max-height: 80px;
    font-size: 18px;
    @extend %dmsans-500;
    color: #262626;
    padding: 0 0 35px 32px;
    margin-bottom: 22px;
    position: relative;
    height: auto;
  }

  &__item-title::after {
    content: '';
    max-width: 370px;
    position: absolute;
    border-bottom: 1px solid #e0e0e0;
    left: 32px;
    right: 0;
    bottom: 0;

  }

  &__item-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 26px;
  }

  &__item-author,
  &__item-date {
    padding: 0 30px 0 30px;
    @extend %rubik-400 ;
    font-size: 12px;
    color: #222933;
    text-transform: uppercase;
    position: relative;


    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 5px;
    }
  }

  &__item-author::before {
    background-image: url('../images/blog/user.svg');
    @extend %bgimg;
    background-size: auto;

  }

  &__item-date::before {
    background-image: url('../images/blog/time.svg');
    @extend %bgimg;
    background-size: contain;

  }


}

//=============
.partners {
  margin-top: -200px;
  padding: 265px 0 90px;
  background: #fef7f0;


  &__list {
    //height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//================================================
.modal {
  max-width: 470px;
  margin: 0 auto 120px;
  padding-top: 120px;
  @extend %rubik-400;
  font-size: 14px;
  color: #436372;


  &__label,
  &__err {
    margin-bottom: 15px;
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6;
    height: 60px;
    padding: 0 15px;
    font-size: 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
  }

  &__btn {
    display: block;
    width: 100%;
    background: #a3bbc8;
    color: #fff;
    @extend %rubik-500;
    font-size: 18px;
    padding: 14px 0;
    border: none;
    cursor: pointer;
    margin-top: 35px;
  }
  .modal__err {
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__text {
    margin: 34px 0 24px;
    text-align: center;
  }
  &__createAcc{
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #a3bbc8;
    color: #243f4d;
    @extend %rubik-500;
    font-size: 18px;
    padding: 14px 0;
    cursor: pointer;
    text-align: center;
    //margin-top: 35px;

  }

}

//================================================
.page-404 {
  padding: 40px 0;
  background: #F3F6F5;
  &__inner {
    padding: 74px 0 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__imgBlock{
    //display: inline-block;
    //max-width: 100%;
padding: 40px 40px;
  }
  &__img{
  }
  &__content{
    max-width: 408px;
    width: 100%;
    padding-top: 50px;
    line-height: 1.1;
  }

  &__tittle{
    font-size: 48px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 60px;
  }
  &__link{
    border: none;
    background: #a3bbc8;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 11px 17px;
    margin-left: -5px;
    cursor: pointer;
  }
}

//================================================


@import "media";

